@{
    ViewBag.Title = "DAKI - the application that motivates you!";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<p>
    <strong>Features:</strong>
</p>
    <ul>
        <li>Get points!</li>
        <li>Award points (advanced, admin)</li>
        <li>Shop</li>
        <li>View your profile</li>
        <li>View Badges</li>
        <li>Display your cv</li>
        <li>Manage shop (admin)</li>
        <li>Manage roles (admin)</li>
    </ul>
<p>

</p>
