@{
    ViewBag.Title = "Home Page - Profile Page";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper vehicula rhoncus. Praesent ac eros vel enim porta elementum. Integer eu euismod ex. Pellentesque non neque sed neque rutrum facilisis non sit amet risus. Vivamus ut elit et arcu mollis bibendum pretium ut massa. Sed auctor laoreet pellentesque. Aenean consequat, elit ut elementum eleifend, lectus mauris laoreet elit, et pulvinar ex leo et felis. Nunc convallis placerat mi in egestas. In commodo leo at volutpat venenatis. Pellentesque a tellus vitae ipsum volutpat dapibus at eget magna. Nulla tempor, justo at congue gravida, urna lectus porta justo, et pellentesque justo libero vel nibh. Nullam erat quam, hendrerit ut finibus quis, elementum vel dolor.
</p>
<p>
    Nam euismod egestas est. Nullam consequat consectetur mi, vel tincidunt velit elementum et. Pellentesque a vehicula neque. Nulla dictum dictum urna consequat laoreet. Sed venenatis blandit purus, quis maximus orci dictum vel. Nam in rutrum leo, a tempus diam. Ut a tempus nisl. Curabitur nec mauris quis mauris finibus posuere. Vivamus molestie, felis quis venenatis auctor, metus dui eleifend lectus, in dictum nunc lorem in justo. Integer nec tempor sapien, et auctor libero. Etiam tristique vehicula viverra.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus vulputate arcu, a gravida risus euismod quis. Sed sollicitudin libero et hendrerit ullamcorper. Praesent egestas elit a mattis fermentum. Nulla egestas ipsum sed lorem tincidunt, id facilisis neque posuere. Praesent pulvinar purus quis tristique tristique. Mauris efficitur nec felis ut lobortis. Praesent ultrices id turpis at convallis. Vivamus gravida quis lorem et tempor.
</p>
<p>
    Integer a urna a augue fringilla imperdiet. Nullam ligula est, fermentum vel ligula nec, aliquam tempus libero. Nam dignissim libero ac elit venenatis semper. Maecenas non porta mauris, id finibus neque. Vestibulum dictum nunc risus, quis posuere ipsum rhoncus ut. Suspendisse potenti. Cras et dapibus quam. Maecenas eget enim nibh. Aenean volutpat, nunc at congue pharetra, neque tortor pharetra eros, ut mattis felis nunc malesuada justo. Proin semper orci sed elit placerat, in faucibus erat euismod. Cras fermentum risus non massa blandit imperdiet eget non metus. Duis semper magna vel tellus bibendum placerat.
</p>
<p>
    Phasellus pellentesque elementum mi quis semper. Donec tincidunt magna quis massa sodales scelerisque. Fusce arcu tellus, dictum vitae accumsan in, porttitor ac risus. Nulla hendrerit gravida enim quis faucibus. Vestibulum laoreet aliquet tincidunt. Pellentesque massa nibh, condimentum eget posuere et, ullamcorper vel odio. Nunc quis velit ut urna ullamcorper dictum. Praesent convallis justo nec nunc luctus venenatis.
</p>