@using DAKI.Models;
@model List<Department>

@{
    ViewBag.Title = "DepTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>Departments Tree</h1>
</hgroup>

@if(User.IsInRole(Types.Role.Admin)){<button style="float: right; margin-right:5%" onclick="@Url.Action("Create", "Department")">Add Department</button>}
    <style>
            /*Here We will add some css for style our treeview*/
            .collapse {
                width: 15px;
                display: inline-block;
                cursor: pointer;
            }
            .collapsible {
                background: #BADA55;
                width: 0.8em;
                height: 0.8em;
                border-radius: 200px 200px 0px 200px;
            }

            .expand {
                width: 0.8em;
                height: 0.8em;
                border-radius: 200px 200px 0px 200px;
                background: #5D693A;
                display: inline-block;
                cursor: pointer;
            }

            .treeview ul {
                font: 14px Arial, Sans-Serif;
                margin: 0px;
                padding-left: 20px;
                list-style: none;
            }

            .treeview > li > a {
                font-weight: bold;
            }

            .treeview li {
                padding-top: 5px;
                padding-bottom: 5px;
            }

                .treeview li a {
                    padding: 4px;
                    font-size: 12px;
                    display: inline-block;
                    text-decoration: none;
                    width: auto;
                }
    </style>

    <div style="padding:10px">
        <div class="treeview">
            @if (Model != null && Model.Count() > 0)
            {
                <ul>
                    @Treeview.GetTreeView(Model, null)
                </ul>
            }
        </div>
    </div>

    @* Here We need some Jquery code for make this treeview collapsible *@
    @section Scripts{
        <script>
            $(document).ready(function () {
                $(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul
                $(".collapsible").click(function (e) {
                    e.preventDefault();
                    $(this).toggleClass("collapse expand");
                    $(this).closest('li').children('ul').slideToggle();
                });
            });
        </script>
    }
