html {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    border-top: solid 10px #FFC40A;
    color: #333;
    font-size: .85em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.title-line {
    width:100%;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}
    .content-wrapper p,
    .content-wrapper fieldset,
    .content-wrapper h3 {
        padding-left: 30px;
        padding-right: 30px;
    }

#body {
    background-color: #F8F8F8;
    clear: both;
    padding-bottom: 35px;
    
}

    .main-content {
        padding-top: 30px;
    }

    .featured + .main-content {
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}
/*Profile Layout*/
.profile {
    padding-left: 30px;
    display: block;
}

.profileMenu {
    height: 100%;
    width:20%;
    float: left;
}
.profileMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #333;
}

.profileMenu li a {
    display: block;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    line-height: 150%;
    font-size: 14px;
    text-align: center;
}

/* Change the link color on hover */
.profileMenu li a:hover {
    background-color: #1b9bff;
    color: white;
}

.active {
    background-color: #1b9bff;
    color: white;
}

/*Badge*/
.badge {
    float: left;
    width: 200px;
    height: 150px;
    text-align: center;
    border: solid 6px #FFC40A;
    border-radius: 50%;
    padding-top: 30px;
    margin-right:30px;
}

/*Shop layout*/
div#filter {
    float:left;
    display:inline-block;
    margin-left:20px;
    width: 27%;
    background-color : #e4f3f8;
    padding-left: 10px;
}

    div#filter p {
        padding:0;
    }
#SearchString {
    width:200px;

}
div#filter input[type="submit"] {
    height:33px;
    border-style: none;
    background: none;
}
div#filter input[type="submit"]:hover {
    color: #1b9bff;
}

div#products {
    display: inline-block;
    margin-left:20px;
    width:66%;
    
    /*padding:5px;*/
}

    div#products table, tr {
        border-color: #a6dbed;
        border-style: solid;
    }
    div#products table {
        width:100%;
        border-collapse: collapse;
        
        margin-top:0;
    }
    div#products td{
        border-color: #a6dbed;
        border:  3px solid #a6dbed;
        height: 100px;
        width:30%;
        text-align: center;
        padding: 5px;
        padding-bottom:15px;
    }
/* site title
----------------------------------------------------------*/
.site-title {
    color: #333;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
    margin-bottom:15px;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
#nav-bar {
        padding: 0;
        margin: 0;
        border: 0;
        background: #333;
        border-bottom: 4px solid #1b9bff;
        font-size: 12px;
        width:100%;
    }
#menu{
    
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
    #menu ul {
        display: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: -40px;
        top: 100%;
        margin-top: 0;
        text-transform: none;
        min-width: 190px;
        border-top: 4px solid #1b9bff;
    }
    #menu li:hover ul {
        display:block;
    }

    ul#menu li{
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        min-height: 1px;
        vertical-align: middle;
        color: #CBCBCB;
        position: relative;
    }
    ul#menu li a{
        background: none;
        color: #f1f1f1;
        text-decoration: none;
        line-height: 48px;
        font-size: 12px;
        padding: 0 20px;
        display: block;
        position: relative;
    }
    ul#menu ul li {
        float:none;
    }
    ul#menu ul a {
        background: #1b9bff;
        color: #ffffff;
        border: 1px solid #0082e7;
        border-top: 0 none;
        line-height: 150%;
        padding: 16px 20px;
        font-size: 12px;
        display:block;
    }
    ul#menu li a:hover{
        background: #1b9bff;
    }
    ul#menu li:hover {
        background: #1b9bff;
    }
    ul#menu ul li a:hover {
        background: #44adff;
    }

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #F8F8F8;
    
}

    .featured .content-wrapper {
        background-color: #fff;
        color: #3e5667;
        padding: 50px 0 30px 0;
        height:600px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #333;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#title-login {
    text-align: center;
    font-size: 120%;
}
.loginForm {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 30%;
}
    .loginForm label {
        text-align: center;
    }

    .loginForm p {
        text-align:center;
    }

    .loginForm h1 {
        text-align:center;
    }

    .loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    .loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    .loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    .loginForm input,
    .loginForm input[type="button"] {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: #c1bcae;

    }

    .loginForm input[type="checkbox"],
    .loginForm input[type="submit"],
    .loginForm input[type="button"],
    .loginForm button {
        width: auto;
    }
    .loginForm input[type="submit"] {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 30%;
        background-color: #ffd245;
        border-color: #fff8e0;
    }

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea, select {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        width: auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #ffd245;
        border-color: #fff8e0;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
/*table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}
*/
/*Custom table*/
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {background: #fff;
           overflow: hidden;
           border: 3px solid #1B9BFF;
           -webkit-border-radius: 7px;
           -moz-border-radius: 7px;
           border-radius: 7px;
           margin-left: 30px; margin-right: 30px;
}
.datagrid table td, .datagrid table th { padding: 14px 7px; }                                                                                                                                        

.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1B9BFF), color-stop(1, #1B9BFF) );
                          background:-moz-linear-gradient( center top, #1B9BFF 5%, #1B9BFF 100% );
                          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B9BFF', endColorstr='#1B9BFF');
                          background-color:#1B9BFF;
                          color:#FFFFFF;
                          font-size: 14px; font-weight: bold; border-left: 1px solid #0082e7; }
.datagrid table thead th:first-child { border: none; }

.datagrid table tbody td { color: #00557F;
                           border-left: 1px solid #0082e7;
                           font-size: 14px;
                           border-bottom: 1px solid #0082e7;
                           font-weight: normal; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tr { border: none; }

.datagrid table tfoot td div { border-top: 1px solid #1B9BFF;background: #E1EEf4;}
.datagrid table tfoot td { padding: 0; font-size: 12px }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #FFFFFF;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1B9BFF), color-stop(1, #1B9BFF) );background:-moz-linear-gradient( center top, #1B9BFF 5%, #1B9BFF 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B9BFF', endColorstr='#1B9BFF');background-color:#1B9BFF; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}
div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
        
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }
    #socialLoginList button {
        margin-bottom: 12px;
    }
    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }
    .list-style {
        display: list-item;
        margin-left: 1.3em;
        list-style-type: circle;  
    }
    
    footer p {
        margin: 0;
    }

    display-label {
        font-weight:bold;
        font-size:15px;
    }
}
